<template>

<div style="display: flex;background-color: #e4e4e4!important;">
    <div class="dialog__content" style="z-index: 301">
        <div id="divCategory" class="dialog dialog-icon" style="max-width: 608px;height: 70%;display:none;">
            <div class="card" style="height: auto;">
                <div>
                    <nav class="header-category toolbar toolbar--extended theme--dark green" style="margin-top: 0px; padding-right: 0px; padding-left: 0px; transform: translateY(0px);">
                        <div class="toolbar__content" style="height: 64px;">
                            <button type="button" class="btn btn--icon" style="position: relative;border-radius: 50%;margin-left: 10px;" @click="CloseCategory()">
                                <div class="btn__content">
                                    <img src="../assets/image/close.png" style="height: 16px;">
                                </div>                                
                            </button>
                            <div class="toolbar__title white--text" style="margin-left: 10px;">Category</div>
                            <div class="search-header">
                            </div>
                            <div style="width: 390px;">
                            </div>
                            <button type="button" class="btn btn--icon" style="position: relative;border-radius: 50%;margin-left: 10px;" @click="ShowCategoryNewEdit()">
                                <div class="btn__content">
                                    <img src="../assets/image/add.png" style="height: 16px;">
                                </div>                                
                            </button>
                        </div>
                        <div class="toolbar__extension" style="height: 48px;">
                            <div class="tabs tab-category">
                                <div class="tabs__wrapper">
                                    <div class="tabs__container tabs__container--centered" style="width: 100%;" >
                                        <div class="tabs__div"  style="width: 100%;margin-top: 10px;" >
                                            <a href="#tab-1" class="tabs__item tabs__item--active" style="position: relative;">
                                                Expense
                                            </a>
                                            <a href="#tab-1" class="tabs__item tabs__item--active" style="position: relative;">
                                                Income
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="content-add" style=" background-color: rgb(228, 228, 228) !important;}">
                 <div class="card__text card-text-1">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="dialog__content" style="z-index: 302">
        <div id="divCategoryNewEdit" class="dialog dialog-icon" style="max-width: 608px;height: 70%;display:none;background-color:white;">
            <div class="card" style="height: auto;">
                <nav class="header-category toolbar toolbar--extended theme--dark green" style="margin-top: 0px; padding-right: 0px; padding-left: 0px; transform: translateY(0px);">
                    <div class="toolbar__content" style="height: 64px;">
                        <button type="button" class="btn btn--icon" style="position: relative;border-radius: 50%;margin-left: 10px;" @click="CloseCategoryNewEdit()">
                            <div class="btn__content">
                                <img src="../assets/image/close.png" style="height: 16px;">
                            </div>                                
                        </button>
                        <div class="toolbar__title white--text" style="margin-left: 10px;">New Category</div>
                        <div class="search-header">
                        </div>
                        <div style="width: 330px;">
                        </div>
                        <button type="button" class="btn btn--icon" style="position: relative;border-radius: 50%;margin-left: 10px;" @click="CloseCategory()">
                                <div class="btn__content">
                                    <img src="../assets/image/ok.png" style="height: 20px;">
                                </div>                                
                        </button>

                    </div>
                </nav>
            </div>

            <div class="content-add" style="background-color: white;">
                <div class="card__text card-text-1">
                    <div class="layout row">
                        <div class="flex ic_edit xs2">
                                <!--<div>
                                <label style="color:#1C823B;">KEYWORD:</label>
                                </div> -->
                        </div>
                        <div class="flex input-transaction xs10">
                            <div class="note input-group input-group--text-field input-group--single-line primary--text">
                                
                                <div class="input-group__input">
                                    <input type="text" placeholder="Category name" style="border-style: none;-webkit-appearance: none"/>
                                    
                                </div>
                                <div class="input-group__details">
                                </div>
                                <div class="control" style="width: 100%;margin-top: 20px;">
                                    <label class="radio" style="color:#1C823B!important;">
                                        <input type="radio" name="radio" style="height: 13px!important;">
                                        INCOME
                                    </label>
                                    <label class="radio" style="color:#1C823B!important;margin-left: 30px;">
                                        <input type="radio" name="radio" style="height: 13px!important;">
                                        EXPENSE
                                    </label>
                                </div>
                                <div class="input-group__input" style="margin-top: 10px;">
                                    <input type="text" placeholder="Keywords Ex.Mcdonald, KFC, Burger king" style="border-style: none;-webkit-appearance: none">
                                    </input>
                                </div>
                                <div class="input-group__details">
                                </div>
                                <div id="divKeywordContainer" style="width: 100%;">
                                </div>
                                <div style="position: inherit;width: 100%;margin-top: 10px;">
                                    <button class="btn-new-keyword" @click="AddNewKeyword()">
                                    + ADD NEW KEYWORD
                                    </button>
                                </div>
                                    

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog__content" style="z-index: 300">
        <div id="divNewtransaction" class="dialog dialog-icon" style="max-width: 400px;height: 60%;display:none;background-color:white;">
            <div class="card" style="height: auto;">
                <nav class="header-category toolbar toolbar--extended theme--dark green" style="margin-top: 0px; padding-right: 0px; padding-left: 0px; transform: translateY(0px);">
                    <div class="toolbar__content" style="height: 64px;">
                        <button type="button" class="btn btn--icon" style="position: relative;border-radius: 50%;margin-left: 10px;" @click="CloseNewTransaction()">
                            <div class="btn__content">
                                <img src="../assets/image/close.png" style="height: 16px;">
                            </div>                                
                        </button>
                        <div class="toolbar__title white--text" style="margin-left: 10px;">New Transaction</div>
                        <div class="search-header">
                        </div>
                        <div style="width: 100px;">
                        </div>
                        <button type="button" class="btn btn--icon" style="position: relative;border-radius: 50%;margin-left: 10px;" @click="">
                            <div class="btn__content">
                                <img src="../assets/image/ok.png" style="height: 20px;">
                            </div>                                
                        </button>

                    </div>
                </nav>
            </div>

            
            <div class="content-add" style="background-color: white;">
                <div class="card__text card-text-1">
                    <div class="layout row">
                        <div class="flex ic_edit xs2">
                                <!--<div>
                                <label style="color:#1C823B;">KEYWORD:</label>
                                </div> -->
                        </div>
                        <div class="flex input-transaction xs10">
                            <div class="note input-group input-group--text-field input-group--single-line primary--text">
                                
                                <div class="input-group__input">
                                    <input type="text" placeholder="Category name" style="border-style: none;-webkit-appearance: none" @click="ShowCategory()">
                                    </input>
                                </div>
                                <div class="input-group__details">
                                </div>
                                <div class="input-group__input" style="margin-top: 10px;">
                                    <input type="text" min="0" placeholder="How much?" style="border-style: none;-webkit-appearance: none">
                                    </input>
                                </div>
                                <div class="input-group__details">
                                </div>
                                <div class="input-group__input" style="margin-top: 10px;">
                                    <input type="text" placeholder="Note" style="border-style: none;-webkit-appearance: none">
                                    </input>
                                </div>
                                <div class="input-group__details">
                                </div>
                                <div style="margin-top: 19px;">
                                    <input type="date" name="tday" style="border:transparent;">
                                </div>
                                    

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="application--wrap" >
        <div class="main-app-container">        
            <div class="wallet-transaction">

                <div class="toolbar-container">
                    <div class="left-toolbar">
                        <div class="show-wallet-toolbar">
                            <div id="wallet-header" class="wallet-header-class">
                                <div class="wallet-container minimal-wallet-container">
                                <span>
                                    <span>
                                    
                                    </span>
                                </span>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button class="btn-info"> 
                                <img src="../assets/image/user.png" style="height: 36px;">     
                            </button>
                        </div>
                    </div>
                    <div class="right-toolbar">

                        <div style="margin-top:4px;" >
                            <span>
                                <button class="btn-info" @click="ShowCategory()">
                                    <img src="../assets/image/category.png" style="height: 28px;">
                                </button>
                            </span>
                        </div>

                        <div style="margin-top:4px;margin-left:12px;" >
                            <span>
                                <button class="btn-info">
                                    <img src="../assets/image/link.png" style="height: 24px;" v-on:click="testCallService()">
                                </button>
                            </span>
                        </div>

                        <div class="help-desk">
                            <a href="https://helpdesk.moneylover.me/" target="_blank" style="margin-right:20px;margin-top:90px;">
                                <img src="../assets/image/help.png" style="height: 24px;">
                            </a>
                            <!-- <button class="btn-info" style="margin-right:20px;">
                                <img src="../assets/image/help.png" style="height: 20px;">     
                            </button> -->
                        </div>

                    </div>
                </div>

                <div class="wallet-transaction-content">
                
                    

                    <div class="transaction-container">
                        <div class="date-range-content">
                                <div class="date-range">
                                    <div style="position: relative;">
                                        <div class="tabs__container tabs__container--fixed-tabs" style="height: 34px;">
                                            <div class="tabs__slider-wrapper" style="left: 135px; width: 135px;">
                                                <div class="tabs__slider accent">
                                                </div>

                                            </div>
                                                    
                                                    <div class="tabs__div tabs_item_custom" >
                                                        <a href="#date-29-03-2019" class="tabs__item" style="position: relative">
                                                            Last month
                                                        </a>
                                                    </div>
                                                    <div class="tabs__div tabs_item_custom" >
                                                        <a href="#date-29-03-2019" class="tabs__item" style="position: relative;">
                                                            This month
                                                        </a>
                                                    </div>
                                                    <div class="tabs__div tabs_item_custom" >
                                                        <a href="#date-29-03-2019" class="tabs__item" style="position: relative;">
                                                            Future
                                                        </a>
                                                    </div>   
                                        </div> 
                                    </div>
                                                        
                                </div>
                            </div>

                            <button type="button" class="button-add btn btn--absolute btn--floating btn--right btn--top theme--dark primary" @click="ShowAddTransaction()" >
                                <h2 style="color: #1A4C14;">+</h2>
                            </button>
                            
                        </div>

                        <div class="transaction-content">



                            <div class="transaction-card-data">

                            </div>
                        </div>
                    
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


</template>

<style>

    .dialog__content{
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        outline: none;
        transition: .3s ease-in-out;
        width: 100%;
    }
    
    .dialog{
        transition: .3s ease-in-out;
        width: 100%;
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
        border-radius: 2px;
        margin: 24px;
        pointer-events: auto;
    }

    .dialog-icon {
        overflow: hidden;
    }

    .card {
        display: block;
        border-radius: 2px;
        min-width: 0;
        position: relative;
        text-decoration: none;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    }

    .header-category{

    }

    .toolbar{
        transition: .2s cubic-bezier(.4,0,.2,1);
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
        display: block;
        position: relative;
        width: 100%;
        will-change: padding-left;
    }

    .green {
        background-color: #1C823B!important;
        border-color: #1C823B!important;
    }

    .toolbar__content{
        height: 56px!important;
        align-items: center;
        display: flex;
    }

    .toolbar__extension{
        align-items: center;
        display: flex;
    }

    .toolbar__title{
        margin-left: 0;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: .02em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .date-range-content{
        position: fixed!important;
        background-color: #1C823B!important;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        height: 64px;
        left: 0;
        z-index: 20!important;
        top: 0!important;
    }

    .btn__content{
        flex: 1 1 auto;
        margin: 0;
        padding: 0;
        align-items: center;
        border-radius: inherit;
        color: inherit;
        display: flex;
        height: inherit;
        justify-content: center;
        transition: .3s cubic-bezier(.25,.8,.5,1);
        white-space: nowrap;
        width: inherit;
    }

    .btn--absolute{
        margin: 0;
    }

    .btn--floating {
        min-width: 0;
        height: 56px;
        width: 56px;
        padding: 0;
        border-radius: 50%;
    }

    .button-add {
        position: fixed;
        top: 37px!important;
        background-color: #62DB4A!important;
        right: 190px;
        transition: height .2s;
        z-index: 20;

        color: #fff;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
        will-change: box-shadow;
        margin: 0;
    }

    .btn {
        align-items: center;
        display: inline-flex;
        flex: 0 1 auto;
        font-size: 14px;
        font-weight: 500;
        justify-content: center;
        outline: 0;
        text-transform: uppercase;
        text-decoration: none;
        vertical-align: middle;
        user-select: none;
    }

    .btn--icon {
        background: 0 0;
        box-shadow: none!important;
        border-radius: 50%;
        justify-content: center;
        min-width: 0;
        width: 36px;
    }

    .btn--icon:hover {
        background-color: #209544; /* Green */
        color: white;
        border:#209544;
    }

    .icon-add{
        padding-top: 4px;
    }

    .left-toolbar {
        margin-left: 5px;
        position: fixed;
        z-index: 100;
        flex-direction: row-reverse;
        display: inherit;
        padding: 12px 0;
    }

    .show-wallet-toolbar {
        display: -ms-flexbox!important;
        display: flex!important;
        margin-left: 10px;
    }

    .account-info{
        z-index: 2;
        height: 64px;
        padding: 14px 0;
    }

    .menu__activator {
        align-items: center;
        cursor: pointer;
        height: inherit;
        position: relative;
    }

    .btn-info{
        vertical-align: middle;
        font-size: 14px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .btn-info:hover {
        background-color: #187033; /* Green */
        color: white;
        border:#187033;
    }

    .wallet-header-class{
        padding: 0!important;
    }

    .wallet-container {
        justify-content: center;
    }  

    .date-range{
        width: 406px;
        top: 30px!important;
        position: fixed!important;
        transition: height .2s;
        z-index: 20!important;
    }

    .tabs {
        width: 100%;
    }   

    .tabs__div {
        align-items: center;
        display: inline-flex;
        flex: 0 1 auto;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        height: inherit;
        /* max-width: 264px; */
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
    }

    .tabs_item_custom{
        min-width: 33.33%;
        height: 100%;
    }

    .tabs__item{
        opacity: .8;
        color: #D3ECCD !important;
        display: flex;
        justify-content: center;
        text-decoration: none !important;
        color: inherit;
        display: flex;
        flex: 1 1;
        flex-basis: 264px;
        height: 100%;
        justify-content: center;
        max-width: inherit;
        padding: 6px 12px;
        text-decoration: none;
        transition: .3s cubic-bezier(.25,.8,.5,1);
        user-select: none;
        white-space: normal;
    }

    .tabs__container{
        display: flex;
        height: 48px;
        list-style-type: none;
        transition: transform .6s cubic-bezier(.86,0,.07,1);
        white-space: nowrap;
        position: relative;
    }

    .tabs__bar{
        position: relative;
    }

    .pimary{
        background-color: #2db84c !important;
        border-color: #2db84c !important;
    }

    .tabs__wrapper{
        margin-right: 0;
        margin-left: 0;
        overflow: hidden;
        contain: content;
        display: flex;
    }

    .application--wrap{
        flex: 1 1 auto;
        backface-visibility: hidden;
        flex-direction: column;
        min-height: 100vh;
        max-width: 100%;
        position: relative;
    }

    .main-app-container{
        
    }

    .wallet-transaction{
        position: relative;
        clear: both;
        display: block;
    }

    .toolbar-container {
        display: flex;
        padding-left: 15px;
        position: relative;
        top: 0;
        z-index: 200;
    }
    
    .right-toolbar{
        position: fixed;
        right: 0;
        display: inherit;
        height: 64px;
        padding: 12px 0;
    }

    .help-desk{
        z-index: 1;
        margin-left: 14px;
        padding-top: 6px;
    }

    .helper{
        border: 10px;
        box-sizing: border-box;
        display: inline-block;
        font-family: Roboto,sans-serif;
        cursor: pointer;
        text-decoration: none;
        margin: 0;
        outline: none;
        font-size: 0;
        font-weight: inherit;
        position: relative;
        vertical-align: middle;
        overflow: visible;
        transition: all .45s cubic-bezier(.23,1,.32,1) 0ms;
        width: 48px;
        height: 48px;
    }

    .transaction-container{
        display: flex;
        justify-content: center;
        position: relative;
        background: #ccc !important;
    }

    .main-wallet{
        height: 192px;
        display: block;
        position: relative;
        margin-bottom: 64px;
    }

    .tabs__slider-wrapper{
        bottom: 0;
        margin: 0!important;
        position: absolute;
        transition: .3s cubic-bezier(.25,.8,.5,1);
    }

    .tabs__slider{
        height: 4px;
        background: #87faa0!important;
    }

    .accent{
        background-color: #a3e9a4 !important;
        border-color: #a3e9a4 !important;
    }

    .transaction-content{
        width: 406px;
        position: relative;
        min-height: 55vh;
    }

    .transaction-card-data{
        margin-bottom: 80px;
        margin-top: 0;
    }
  
    .white--text {
        color: #fff!important;
    }

    .search-header{

    }

    .content-add{
        overflow-y: auto;
        min-height: 50vh;
        max-height: 80vh;
    }

    .card__text{
        padding: 16px;
        width: 100%;
    }

    .card-text-1{
        padding-bottom: 0;
        padding-left: 26px;
    }

    .layout {
        display: flex;
        flex: 1 1 auto;
        flex-wrap: nowrap;
    }

    .row {
        flex-direction: row;
    }

    .flex {
        flex: 1 1 auto;
    }

    .ic_edit{
        padding-top: 22px!important;
    }

    .xs2 {
        flex-basis: 16.666666666666664%;
        flex-grow: 0;
        max-width: 12%;
    }

    .xs10 {
        flex-basis: 83.33333333333334%;
        flex-grow: 0;
        max-width: 83.33333333333334%;
    }

    .input-group {
        display: flex;
        flex: 1 1;
        flex-wrap: wrap;
        min-width: 24px;
        padding: 18px 0 0;
        position: relative;
        width: 100%;
        outline: none;
        transition: box-shadow .3s cubic-bezier(.25,.8,.5,1);
    }

    .primary--text {
        color: #2db84c !important;
    }

    .input-group__input {
        display: flex;
        flex: 1 0 100%;
        min-width: 0;
        min-height: 30px;
    }

    .input-group--text-field input {
        box-shadow: none;
        flex: 1;
        height: 30px;
        margin: 0;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .input-group__details {
        width: 90%;
        background-color: gray;
        position: inherit;
        list-style: 1px;
        line-height: 1px;
        padding-top: 1px; 
    }

    input:focus {
        outline-width: 0;
    }

    .btn-new-keyword{
        cursor: pointer;
        border: transparent;
        background-color: transparent;
        margin-left: -10px;
        color:#1C823B;
    }

    .btn-new-keyword:focus{
        outline-width: 0;
        cursor: pointer;
    }

</style>

<script>
import axios from "axios";
import { mapState, mapActions } from 'vuex'
export default {
    data () {
        return {
            username: '',
            password: '',
            submitted: false
        }
    },
    computed: {
        ...mapState('account', ['status'])
    },
    created () {
    },
    mounted() {
        axios({ method: "GET", "url": "https://httpbin.org/ip" }).then(result => {
           this.ip = result.data.origin;
        }, error => {
            console.error(error);
        });
    },
    methods: {
        ShowCategory() {
            document.getElementById("divCategory").style.display = "block";
        },

        CloseCategory(){
            document.getElementById("divCategory").style.display = "none";
        },

        CloseCategoryNewEdit(){
            document.getElementById("divCategoryNewEdit").style.display = "none";
        },

        ShowCategoryNewEdit(){
            document.getElementById("divCategoryNewEdit").style.display = "block";
        },

        AddNewKeyword(){

            $('#divKeywordContainer').append("<div class='input-group__input' style='min-height: 10px!important;margin-top: 10px;'> <input type='text' placeholder='Ex.Mcdonald, KFC, Burger king' style='border-style: none;-webkit-appearance: none' /> </div>");
            $('#divKeywordContainer').append("<div class='input-group__details'>");
            $('#divKeywordContainer').append("</div>");

        },

        CloseNewTransaction(){
            document.getElementById("divNewtransaction").style.display = "none";
        },

        ShowAddTransaction(){
            document.getElementById("divNewtransaction").style.display = "block";
        },

        testCallService(){

            var username = 'admin';
            var password = '12345678';

/*
            $.ajax({
                type: "GET",
                url: "http://localhost:8090/api/category",
                dataType: 'json',
                success: function (){
                    alert('Thanks for your comment!');
                }
            });

            axios({ method: "GET", "url": "http://localhost:8090/api/category" }).then(result => {
            this.ip = result.data.origin;
            alert(this.ip);
            }, error => {
                console.error(error);
            });
        */
/*
        axios.get('https://httpbin.org/ip')
  .then(response => (alert('ok')))
  .catch(error => console.log(error))

*/

 axios.get('https://httpbin.org/ip',
      {
          headers: {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'POST, GET, PUT, OPTIONS, DELETE',
            'Access-Control-Allow-Headers': 'Access-Control-Allow-Methods, Access-Control-Allow-Origin, Origin, Accept, Content-Type',
            'Content-Type': 'application/json',
            'Accept': 'application/json'
          }
        }
        ).then(function (response) {
          alert('ok')
        }, function (response) {
          // Error
        })


        }
        
    }
};
</script>