<template>
<div class="container">
   xxx :  {{list}}
</div>
</template>

<script>
const API_URL = 'http://localhost:8090/api/recordItems'
export default {
  name: 'Home',
  data: function () {
    return {
      list: []
    }
  },
  methods: {
    goAdd: function () {
      this.$router.push('/add')
    },
    loadData: function () {
        console.log('xxxxxxxx')
      this.$http.get(API_URL)
        .then(response => {
          console.log(response.body)
          this.list = response.body
        }, () => {
          this.list = []
        })
    }
  },
  created: function () {
    this.loadData()
  }
}
</script>
